# Server
PORT=8080

# API Key
API_KEY=change-me

# Bixolon Printer
BIXOLON_DEVICE=/dev/usb/lp0
BIXOLON_WIDTH=576

# XPrinter
XPRINTER_DEVICE=/dev/usb/lp1
XPRINTER_WIDTH=400
XPRINTER_HEIGHT=300
XPRINTER_DPI=203

# PDF
MAX_PDF_SIZE_MB=10
